# Node (frontend)
frontend/node_modules/
frontend/dist/
frontend/.env

# Python (backend)
backend/__pycache__/
backend/*.__pycache__/
backend/*.pyc
backend/.venv/
backend/.env
__pycache__
# Lambda build artifacts
backend/build/
backend/*.zip

# System
.DS_Store
.env
*.log

.pytest_cache
/backend/.pytest_cache
